/**
*   Colors
**/

$color-light-blue: #4ab1e4;
$color-text-grey: #575756;
$color-light-grey: #ccc;
$color-white: #fff;
$color-dark-blue: #35414c;
$color-footer-blue: #35414d;


/**
*   Font Setup
**/

$font-family: 'Roboto', Helvetica, Arial, sans-serif;
$default-font-size: 16; //Default

$thin: 100;
$light: 300;
$medium: 400;
$semi-bold: 500;
$bold: 700;


/**
*   Functions
**/

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
  $context: $default-font-size;
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  }

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value/$context}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }

  #{$property}: $pxValues;
  #{$property}: $remValues;
}


/**
*   PAGE
**/


html, body, body, button, h1, h2, h3, h4, h5, h6, input, input[type="button"], input[type="reset"], input[type="submit"], label, select, ul, li, ol, p, span, strong, a{
    font-family: $font-family;
    font-size:  $default-font-size;
    font-weight: $medium;
    color:$color-text-grey;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#cs-slider{

    width:100%;
    max-width:1024px;
    margin:0 auto;

    .cs-slide-tabs{
        ul{

            padding:20px 0;

            li{
                width:33%;
                float:left;
                display:block;
                text-align:center;

                a{
                    text-decoration: none;

                    &:hover{
                        text-decoration:underline;
                    }
                }
            }
        }
    }

    .cs-slides-area{
        clear:both;

        .cs-slide{
            p{
                padding:0;
                margin:0;
                font-size:16px;
                line-height:28px;
                margin-bottom:50px;
                display:block;
            }
        }
    }
     
}